#bodyContainer {
  border-radius: 10px;
  background-color: #f2f2f2;
}

#newProductBtn {
  float: right;
  padding-Left: '5px';
  padding-Right: '5px';
  color: dimgrey;
}

#newProductBtn:hover {
  float: 'right';
  padding-Left: '5px';
  padding-Right: '5px';
  color: #0073e6;
}