.centeredDiv {
  margin: auto;
}
.fa-animation .fa{position:relative;}
.fa-lg{font-size:65px; top:8px; left:0px; color:orangeRed;}
.fa-md{font-size:55px; top:7px; left:0px; color: dodgerBlue;}
.fa-sm{font-size:45px; top:0px; left:8px; color: gold;}




